Repository AssilMAHFOUDI/TIME_JAM: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, run-coverage

cppcheck:
  name: Run cppcheck static analysis
  entry: cppcheck
  args:
  - --enable=all
  - --inconclusive
  - --std=c++11
  language: system
  stages:
  - pre-commit

run-coverage:
  name: Run Coverage with GCC
  ...

update pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

updata parser
  include/player_action.h
  src/main.c
  src/player_action.c
  test/test_player.c
Due: cppcheck, run-coverage

add working parser with collecting planets with one radar and 2 correctors
  include/player_action.h
  src/main.c
  src/player_action.c
  test/test_player.c
Due: cppcheck, run-coverage

update functionning
  src/main.c
Due: cppcheck

add comeback to base when broken
  include/player_action.h
  src/main.c
  src/player_action.c
Due: cppcheck

delete test_player_now
  test_player_now
Due: none

Update main.c
  src/main.c
Due: cppcheck

Update player_action.h
  include/player_action.h
Due: cppcheck

Update player_action.c
  src/player_action.c
Due: cppcheck

Update test_player.c
  test/test_player.c
Due: cppcheck, run-coverage

Update README.md
  README.md
Due: none

Create README.md
  README.md
Due: none

Path conditions:
  cppcheck: any of: \.(c|h)$
  run-coverage: any of: ^test/.*\.c$
